<%- include('partials/_header') -%>

<body>
    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            
            <%- include('partials/_navbar') -%>
            

            <div id="tm-video-container">
                <video autoplay muted loop id="tm-video">
                    <!-- <source src="video/sunset-timelapse-video.mp4" type="video/mp4"> -->
                        <source src="video/wheat-field.mp4" type="video/mp4">
                </video>    
            </div>
            
            <i id="tm-video-control-button" class="fas fa-pause"></i>
        </div>

        <div class="container-fluid">
            <div id="content" class="mx-auto tm-content-container">
                <main>
                    
                    <div class="container mt-5 mb-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="images p-3">
                                                <div class="text-center p-4"> <img id="main-image" src="<%= photo.image %>" width="250" /> </div>
                                                <div class="thumbnail text-center"> <img onclick="change_image(this)" src="https://i.imgur.com/Rx7uKd0.jpg" width="70"> <img onclick="change_image(this)" src="https://i.imgur.com/Dhebu4F.jpg" width="70"> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="product p-4">
                                                
                                                <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand"> <%= photo.title %> </span>
                                                    
                                                </div>
                                                <p class="about"> <%= photo.description %> </p>
                                                <div class="cart mt-4 align-items-center"> <button class="btn btn-primary text-uppercase mr-2 px-4">UPDATE</button> </div>
                                                <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4">DELETE</button> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>

                <%- include('partials/_footer') -%>
    <script>
        function change_image(image){

var container = document.getElementById("main-image");

container.src = image.src;
}

document.addEventListener("DOMContentLoaded", function(event) {

});
    </script>
</body>

</html>